.linea-vertical{
    background: #ccc;
    height: 495px;
    width: 445px;
    float: left;
    margin-right: 2%;
}

.linea-vertical2{
    height: 95px;
    width: 5px;
    background-color: gray;
    
}

.linea-vertical3{
    height: 90px;
    width: 5px;
    background-color: gray;
    
}

h3{
    text-wrap: nowrap;
    margin: 2px;

}
    
li{
    text-wrap: nowrap;
   
}

p{
    text-wrap: nowrap;
}



.puntos{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    
}
.ef{
    
    margin-left: 120px;
}

.contenedor-puntos{
    display: flex;
   
}

.i{
    margin-left: 170px;
}

.ei{
    margin-left: 100px;
}
    
.hc{
    margin-left: 110px;
}
.iconos{
    display: flex;
    flex-direction: column;
}
.icn-ctn{
    width:450px;
    position: static;
    margin-top: -115px;
    margin-left: 470px;
    background-color: #ccc;
    display: flex;
}

