.linea-vertical{
    background: #ccc;
    height: 495px;
    width: 445px;
    margin-right: 2%;
}

.linea-vertical2{
    height: 95px;
    width: 5px;
    background-color: gray;
    
}

.linea-vertical3{
    height: 90px;
    width: 5px;
    background-color: gray;
    
}
fieldset{
    border: 5px solid #ccc;
   /* border: none;*/
   background-clip: border-box 0 ;
}
h3{
    text-wrap: nowrap;
    margin: 2px;

}
    
li{
    text-wrap: nowrap;
   
}

p{
    text-wrap: nowrap;
}



.puntos{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    
}
.ef{
    
    margin-left: 120px;
}

.contenedor-puntos{
    display: flex;
    margin-left: 20px;
   
}

.i{
    margin-left: 170px;
}

.ei{
    margin-left: 100px;
}
    
.hc{
    margin-left: 110px;
}
.iconos{
    display: flex;
    flex-direction: column;
}
.icn-ctn{
    width:450px;
    position: static;
    margin-top: -115px;
    margin-left: 470px;
    background-color: #ccc;
    display: flex;
}

.cuadro{
    position: relative;
    margin-top: -175px;
    margin-left: 500px;
    width: 220px;
}
.foto{
    position: static;
    top: 250px;
    margin-top: -72px;
    border: 20px solid rgb(75, 75, 75);
    border-right-style:double ;
    border-top-style:double;
    border-bottom-style: double;
    width: 250px;
    
    height: 215px;
}
.exp{
    width: 300px;
    margin-top: -515px;
    margin-left: 485px;
}

.correo{
    text-wrap: nowrap;
    width: 300px;
    height: 300px;
    margin-right: 150px;
    display: flex;
    margin-top: 60px;
    position: relative;
    top: -70px;
    left: 220px;
}
.telefono{
    text-align: center;
    position: relative;
    top: -350px;
    left: 30px;
}

.ubicacion{
    text-align: center;
    position: relative;
    top: -350px;
    right: 32px;
    
}

.est{
    text-align: center;
    position: relative;
    top: -10px;
    left: 20px;
}

.tst {
text-wrap: nowrap;
width: 250px;
margin-left: 200px;}

.lines{
    background-color: #ccc;
    width: 700px;
    height: 235px;
    position: static;
    
}


